<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
  <appender name="jsonFileAppender" type="log4net.Appender.FileAppender">
    <file value="D://asp.net//DevFrameworkFull//Log//log.json"/>
    <layout type="DevFramework.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout"/>
  </appender>
    <appender name="SqlServerAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=(localdb)\v11.0 ;initial catalog=Northwind ;integrated security=true;" />
      <commandText value="INSERT INTO Logs ([Date],[Detail],[Level]) VALUES (@log_date, @detail, @log_level)" />
     
      
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date"/>
      </parameter>
      
      <parameter>
        <parameterName value="@detail" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="DevFramework.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout"/>
      </parameter>
      
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      
    </appender>

    <logger name="JsonFileLogger">
      <level value="All"/>
      <appender-ref ref="jsonFileAppender"/>
    </logger>
    
    <logger name="DatabaseLogger">
      <level value="All"/>
      <appender-ref ref="SqlServerAppender"/>
    </logger>
  </log4net>
</configuration>
